<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ESO_Discord_RichPresence_Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <ESO_Discord_RichPresence_Client.Properties.Settings>
            <setting name="CustomEsoLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomEsoInstallLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomSteamAppID" serializeAs="String">
                <value />
            </setting>
            <setting name="Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowCharacterName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowPartyInfo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ToTray" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StayTopMost" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinimizedOnce" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoExit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CloseLauncher" serializeAs="String">
                <value>False</value>
            </setting>
        </ESO_Discord_RichPresence_Client.Properties.Settings>
    </userSettings>
</configuration>